<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.IDao.inputParaMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.inputPara">
    <result column="type_id" jdbcType="INTEGER" property="typeId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="Des" jdbcType="VARCHAR" property="des" />
  </resultMap>
  <insert id="insert" parameterType="com.example.demo.entity.inputPara">
    insert into inputPara (type_id, name, type, 
      sequence, Des)
    values (#{typeId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{sequence,jdbcType=INTEGER}, #{des,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.inputPara">
    insert into inputPara
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        type_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="des != null">
        Des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="typeId != null">
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="des != null">
        #{des,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByTypeId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    *
    from inputPara
    where type_id = #{type_id,jdbcType=INTEGER}
    ORDER BY sequence
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from inputPara
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
</mapper>