	{% extends "base.html" %}
        {% block content %}
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<form role="search">
			<div class="form-group">
				<img alt="100x100" src="/static/img/pc_10360.jpg" />
			</div>
		</form>
		<ul class="nav menu">
			<li class="active"><a href="dashbord.html"><span class="glyphicon glyphicon-dashboard"></span> Dashbord</a></li>
			<li><a href="ltpt.html"><span class="glyphicon glyphicon-th"></span> 联调平台</a></li>
			<li><a href="sssh.html"><span class="glyphicon glyphicon-stats"></span> 商数沙盒</a></li>
			<li><a href="dzpt.html"><span class="glyphicon glyphicon-list-alt"></span> 对账平台</a></li>
			<li><a href="sszb.html"><span class="glyphicon glyphicon-pencil"></span> 商数指标</a></li>
		</ul>
        <div style="margin-left: 25px">
           <div style="margin-top: 100px">
           <strong>联系我们</strong>
           </div>
           <div style="margin-top: 15px">
           <p>Hi群：1530810</p>
           </div>
        </div>
        </div><!--/.sidebar-->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		<div class="row">
			<ol class="breadcrumb">
				<li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
				<li class="active">Dashbord</li>
			</ol>
		</div><!--/.row-->
		
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Dashbord</h1>
			</div>
		</div><!--/.row-->
                <div class="row">
                    <a href="ltpt.html">
                        <div class="col-md-6" href="">
                                <div class="panel panel-blue">
                                        <div class="panel-heading dark-overlay">商数联调平台</div>
                                        <div class="panel-body">
                                                <p>提供稳定商数和财务联调环境,进行全方位输入数据、流转数据校验.</br></br>访问人数: {{user_count}},  使用次数: {{use_frequency}}</p>
                                        </div>
                                </div>
                        </div><!--/.col-->
                    </a>

                    <a href="sssh.html">
                        <div class="col-md-6">
                                <div class="panel panel-teal">
                                        <div class="panel-heading dark-overlay">商数沙盒</div>
                                        <div class="panel-body">
                                        <p>7X24小时稳定环境,建设中</br></br>敬请期待</p>
                                        </div>
                                </div>
                        </div><!--/.col-->
                     </a>
              
                     <a href="dzpt.html">
                        <div class="col-md-6">
                                <div class="panel panel-orange">
                                        <div class="panel-heading dark-overlay">对账平台</div>
                                        <div class="panel-body">
                                        <p>商数内部、商数与财务对账及问题定位,建设中</br></br>敬请期待</p>
                                        </div>
                                </div>
                        </div><!--/.col-->
                      </a>
                     <a href="sszb.html">
                        <div class="col-md-6">
                                <div class="panel panel-red">
                                        <div class="panel-heading dark-overlay">商数指标</div>
                                        <div class="panel-body">
                                        <p>商数指标体系,建设中</br></br>敬请期待</p>
                                        </div>
                                </div>
                        </div><!--/.col-->
                       </a>
                </div><!--/.row-->        
        </div><!--/.main-->
	{% endblock %}	
