<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:font-family="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8"/>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/login.js"></script>
    <title>API平台</title>
	<link rel="stylesheet" href="/css/style1.css"/>
</head>
<body>
    <div class="main">
    	<div class="mainin">
        	<img src="/images/title.png"/>
            <p></p>
            <p></p>
            <div class="mainin1">
            	<ul>
                	<li><span>用户名：</span><input name="username" type="text" id="username" placeholder="登录名" class="SearchKeyword"/></li>
                    <li><span>密码：</span><input type="password" name="password" id="password" placeholder="密码" class="SearchKeyword2"/></li>
                    <li><button class="tijiao" id="ajaxLogin">提交</button></li>
                </ul>
            </div>
        </div>
    </div>
<img src="/images/loading.gif" id="loading" style=" display:none;position:absolute;" />
<div id="POPLoading" class="cssPOPLoading">
    <div style=" height:110px; border-bottom:1px solid #9a9a9a">
        <div class="showMessge"></div>
    </div>
    <div style=" line-height:40px; font-size:14px; letter-spacing:1px;">
        <a onclick="puc()">确定</a>
    </div>
</div>
<div style="text-align:center;">
</div>
</body>
</html>
