<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/login.js"></script>
    <title>登录</title>
</head>
<body>
错误信息：
<h4 id="erro"></h4>
<form>
    <p>
        账号：<input type="text" name="username" id="username" value="lxh" />
    </p>
    <p>
        密码：<input type="password" name="password" id="password" value="123" />
    </p>
    <p>
        <button type="button" id="ajaxLogin" >登录</button>
    </p>
</form>
</body>

</html>
